<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员-图书管理系统</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>

</head>

<div class="layui-layout layui-layout-admin">

    <div th:include="common/admin_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">书籍管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/addBookPage">&emsp;&emsp;录入新书</a></dd>
                        <dd><a href="/addCategoryPage?pageNum=1">&emsp;&emsp;新建类别</a></dd>
                        <dd><a href="/showBooksPage">&emsp;&emsp;查询书籍</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/showUsersPage?pageNum=1">&emsp;&emsp;查询用户</a></dd>
                        <dd><a href="/addUserPage">&emsp;&emsp;新增用户</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">借阅信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/allBorrowBooksRecordPage?pageNum=1">&emsp;&emsp;所有记录</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item "><a href="/adminInfoPage">个人信息</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">
        <div class="layui-carousel layui-container" id="index" style="margin-top: 40px;">
            <div carousel-item>
                <div><img src="/images/lib1.jpg"/></div>
                <div><img src="/images/lib2.jpg"/></div>
                <div><img src="/images/lib3.jpg"/></div>
                <div><img src="/images/lib4.jpg"/></div>
                <div><img src="/images/lib5.jpg"/></div>
            </div>
        </div>
    </div>

    <div th:include="common/footer :: footer"></div>

</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script>

    layui.use(['carousel', 'element'], function () {
        let carousel = layui.carousel;
        let element = layui.element;

        //建造实例
        carousel.render({
            elem: '#index'
            , width: '900' //设置容器宽度
            , height: '550px' //设置容器高度
            // , full:'true' //是否全屏轮播,默认false
            // , arrow: 'always' //始终显示箭头和点击按钮
            // ,anim: 'updown' //切换动画方式，可从各个方向滚动
        });
    });

</script>

</body>
</html>
